
  <form action="{{ url('search') }}" class="form-inline">
    <div class="form-group">
      <input name="q" value="{% if query is defined %}{{ query }}{% endif %}" class="search form-control" type="text" placeholder="Search for..." />
      <button class="btn btn-default">Go</button>
    </div>
  </form>
